img {
    max-width: 30%;
}

div.card {
    align-items: center;
    justify-content: center;
}

h1 {
    color: red;
}

.btn-dark {
    color: white !important;
    background-color: green !important;

}